{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "airbnb-base",
  "globals": {
    "firebase": true,
    "emailSignUp": true,
    "emailSignIn": true,
    "fbSignIn": true,
    "googleSignIn": true,
    "signOut": true,
    "validate": true,
    "saveUser": true,
    "getCurrentUserData": true,
    "savePost": true,
    "getPosts": true,
    "onAuthState": true,
    "deletPost": true,
    "updateLikeCount": true
  }
}
