/* home */

/* margen para logo */
.logo-margin-left {
  margin-left: 4%;
}

/* ancho de barra lateral */
.width-collection {
  width: 20%;
}

/* textarea para postear y contenedor de post*/
.content-post {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 3%;
  padding-bottom: 0;
  padding-top: 1.5%;
}

.sidenav .user-view {
  padding: 32px 32px 0;
}

.sidenav .user-view .circle {
  height: 35%;
  width: 35%;
}

/* ancho de sidenav */
.width-col {
  width: 24%;
}

/* alineado en una sola fila */
.lined-row {
  display: inline-block;
}

/* margen izquierdo */
.general-margin-left {
  margin-left: 14%;
}

/* margen derecho */
.general-margin-right {
  margin-right: 9%;
}

/* Colores */
.deep-koamaru,
.input-field .prefix {
  color: #222D66 !important;
}

.eucalyptus,
.input-field .prefix.active,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #40D1A4 !important;
}

/* Colores de fondo */

.deep-koamaru-bg {
  background-color: #222D66 !important;
}

.eucalyptus-bg,
.tabs .indicator,
.switch label input[type=checkbox]:checked+.lever {
  background-color: #40D1A4 !important;
}

.auto-height {
  height: auto !important;
}

/* Negrita */
.bold-text {
  font-weight: 700;
}

.btn-custom {
  cursor: pointer;
}

/* Elimina todos los márgenes */
.no-margin {
  margin: 0;
}

/* Elimina scroll por default */
.tabs {
  overflow-x: hidden;
}

 /* Sobre escribiendo colores por default */

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}

.input-field input[type=text]:not(.browser-default):focus,
.input-field input[type=email]:not(.browser-default):focus,
.input-field input[type=password]:not(.browser-default):focus,
textarea.materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #40D1A4;
   box-shadow: 0 1px 0 0 #40D1A4;
}

.image-background {
  background-image: url(assets/images/smiling-woman-with-cellphone.jpg);
  background-size: cover;
  min-height: 170px !important;
}

.modal-block {
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
}

.textarea-custom-padding {
  padding-top: 1.8rem !important;
}

@media (min-width: 401px) {

  .textarea-custom-padding {
    padding-top: 0.8rem !important;
  }

}

@media (min-width: 601px) {

  .full-height {
    height: 100vh;
  }

  .image-background {
    background-position: center;
  }

  .content-post {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .displace-left {
    position: relative;
    right: 30%;
    width: 110%;
  }

  .responsive-padding {
    padding: 8%;
  }

  .custom-depth {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .tab-vertical-margin {
    margin-top: 30px;
    margin-bottom: 30px;
  }

}